<div class= "question">
<h1>Question</h1>

<form action="/answer"  method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" name="question" placeholder= "answer">
  <input type="submit" value="ask">
</form>
</div>
